
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Examination System</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <h1>Examination System</h1>
  <div id="container">
    
    <div class="top-bar">
      <span id="counter"></span>
      <span id="timer"></span>
    </div>

    <div id="questionBox"></div>
    <div id="optionsContainer"></div>
    
    <div id="navigation">
      <button id="prevBtn" class="hidden">Previous</button>
      <button id="markBtn">Mark</button>
      <button id="nextBtn">Next</button>
    </div>

    <div id="result" class="hidden"></div>
  </div>

  <script src="../js/exam.js"></script>
</body>
</html>
